/* Inspired by https://codepen.io/AlxCrmr/pen/ybjRLY?editors=0110 */
body {
  background: gray;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.shield-red {
  width: 505px;
  height: 505px;
  background-color: #C33825;
  border-radius: 50%;
}

.shield-white {
  width: 405px;
  height: 405px;
  background: white;
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 50px;
}

.shield-red2 {
  width: 305px;
  height: 305px;
  background: #C33825;
  border-radius: 50%;
  position: relative;
  bottom: 300px;
  left: 100px;
}

.shield-blue {
  width: 205px;
  height: 205px;
  background: #2887C7;
  border-radius: 50%;
  position: relative;
  bottom: 550px;
  left: 150px;
}

/* Star for shield */
.shield-star {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid white;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

.shield-star:before {
  border-bottom: 80px solid white;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

.shield-star:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid white;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: '';
}

.star-container {
  position: relative;
  bottom: 745px;
  left: 155px;
}
